@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


/* mobile */

body{
  /* background: orange; */
  font-size: 14px;
}

section h2 {
  font-size: 20px;
}




/*헤더*/
#main-header {
  background: #fff;
  position: fixed;
  width: 100%;
}

#main-header h1 {
  margin-left: 20px;
}

#main-header .container {
  height: var(--header-height);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gnb {
  position: absolute;
  left: 0;
  top: var(--header-height);
  background: #ededed;
  width: 100%;
  border-top: 1px solid #ccc;
}

#gnb ul li {
  display: block;
}

#gnb > ul {
  font-size: 16px;
}

#toggle {
  display: block;
  margin-right: 20px;
}

#toggle .bi {
    font-size: 30px;
  }

#gnb ul li {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 7px;
    padding-left: 20px;
}

#gnb ul a:hover {
  color: var(--brand-color);
}

/* 모바일 로고 크기 */
#main-header .container h1 img {
  display: block;
  width: 140px;
}

#main-header nav {
  height: 0;
  opacity: 0;
  transition: 0.4s;
}

#main-header nav.on {
  height: 147px;
  opacity: 1;
}








/*메인비주얼*/

#main-visual {
  background: #FCEEAD;
  width: 100%;
  height: calc(100% - var(--header-height));
  padding-top: var(--header-height);
}

#main-visual .container {
  display: block;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
}

#main-visual .title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#main-visual .title h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 65px;
  letter-spacing: 0.2em;  
  margin-top: 10px;
}

#main-visual .title p > span {
  display: block;
}

#main-visual .title p > span:first-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.2em;
}

#main-visual .title p > span:last-child {
  font-weight: 800;
  font-size: 48px;
  line-height: 90px;
  color: var(--brand-color);
}

#main-visual .img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: -50px; */
}

#main-visual .img img {
  width: 75%;
}







/* main section1 */
#main-section1 {
	background: #fff;
	height: calc(100vh - var(--mobile-header-height));
}

#main-section1 .container {
	height: 100%;
  padding-left: 0;
  padding-right: 0;
  outline: 2px solid red;
}

#main-section1 .container .col:first-child {
	display: flex;
  height: 395px;
	justify-content: center;
  align-items: center;
}

#main-section1 .container .col:first-child img {
	width: 71%;
	display: block;
}

#main-section1 .container .col:last-child {
	display: flex;
  height: 395px;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	text-align: center;
	background: var(--main-color);
}

#main-section1 .container .col:last-child h2 {
	/* margin-bottom: 20px; */
	font-weight: 700;
	font-size: 36px;
	line-height: 29px;
  margin-top: 33px;
  margin-bottom: 6px;
}

#main-section1 .container .col:last-child .sub-title {
	font-size: 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
  margin-top: 0;
	/* margin-bottom: 20px; */
}

#main-section1 .container .col:last-child p {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
  padding-left: 36px;
  padding-right: 26px;
}

#main-section1 .container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 395px;
}

#main-section1 .col:last-child .info > *{
  /* outline: 1px solid red; */
}



/* 메인섹션 2 -- 2 x 2 레이아웃 */
#main-section2 .container{
  width: 100%;
  /* height: calc(100vh - var(--pc-header-height)); */
  display: flex;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }
 
 #main-section2 .container .col{
   width: 100%;
   height: 495px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-size: cover;
   background-position: center;
   align-items: center;
   text-align: center;
 }
 
 #main-section2 .container .col h2{
   font-size: 50px;
   margin-bottom: 20px;
 }


 #main-section2 .container .col p {
   font-size: 20px;
 }
 
 #main-section2 .container .col:first-child{
   background: #fec82f;
 }

 #main-section2 .container .col:first-child > img {
  margin-top: 39px;
  width: 50%;
 }
 
 #main-section2 .container .col:nth-child(2){
   background-image: url('../images/Rectangle1.jpeg');
   color : #fff;
   background-position: 0 ;
 }

 #main-section2 .container .col:nth-child(2) > p {
  margin-bottom: 39px;
 }
 
 #main-section2 .container .col:nth-child(3) {
   background-image: url('../images/Rectangle2.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   color: #fff;
   position: relative;
   background-position: center;
   background-size: cover;
 }

 #main-section2 .container .col:nth-child(3) > img {
  margin-top: 35px;
 }

 #main-section2 .container .col:nth-child(4) {
   background-image: url('../images/patten.png');
   background-repeat: no-repeat;
   background-size: cover;
   color: black;
   position: relative;
 }

 #main-section2 .container .col:nth-child(4) > h2 {
  color: var(--sub-color);
 }

 #main-section2 .container .col:nth-child(4) > p {
  padding-bottom: 39px;
 }
 
 .box {
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
 }
 
 #main-section2 .container .col:nth-child(3) p {
   margin-bottom: 20px;
 }
 
 #main-section2 .container .col:first-child img {
  max-width: 100%;
 }

 /* 테블릿 구간 컬럼 여백(보정) */
 @media screen and (max-width: 1145px) {
  #main-section2 .container .col {
    padding-left: 20px;
    padding-right: 20px;
  }
 }


